.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  background-color: #182c55;
  padding: 20px;
  color: white;

}

.App-link {
  color: #61dafb;
}

nav a {
  margin: 0 10px;
  color: #61dafb;
  text-decoration: none;
}

.about {
  padding-top: 0px;
  padding-bottom: 20px;
}

footer {
  background-color: #182c55;
  color: white;
  padding: 10px;
  position:static;
  bottom: 0;
  width: 100%;
}

.button{
  background-color: #182c55;
  border: solid;
  border-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.75em;
  color: white;
  padding: 0.5;
}

.button:hover{
  background-color: #313739;
  color: white;
  cursor: pointer;
}


.flat-btn {
  background-color: white;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.flat-btn:hover {
  background-color: #2980b9;
  font-size: 1.5em;
}

.typing-area {
  max-width: 750px;
  padding-bottom: 5px;
  padding-left: 260px;
}

.td-typing-area {
  max-width: 25px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 18px;
  text-align: left;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding-left: 30px;
}

.styled-table thead tr {
  background-color: #2980b9;
  color: #ffffff;
  text-align: left;
}

.styled-table th {
  padding: 12px 15px;
  border-bottom: black;
}
.styled-table td {
  padding: 12px 15px;
  /* padding-left: 25px; */
}

.styled-table tbody tr .academic {
  border-bottom: 1px solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #2980b9;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.image-gallery {
  margin: 25px auto; /* Add space between table and images */
  text-align: center;
}

.image-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Space between rows */
}

.image-row img {
  margin: 0 10px; /* Space between images */
  width: 250px; /* Adjust width as needed */
  height: auto;
  border: 1px solid #ccc; /* Optional: Add a border around images */
  padding: 5px; /* Optional: Add padding around images */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to images */
}

.project-header {
  font-weight:500;
  color: black;
}

.about-box {
  background-color: rgb(243, 239, 239); /* Light background color */
  border: 4px solid #2980b9; /* Border around the box */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  margin: 20px auto; /* Center the box horizontally */
  max-width: 550px; /* Set a maximum width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.connect-box {
  background-color: rgb(243, 239, 239); /* Light background color */
  border: 4px solid #2980b9; /* Border around the box */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  margin: 20px auto; /* Center the box horizontally */
  max-width: 275px; /* Set a maximum width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.projectlink-box {
  background-color: rgb(243, 239, 239); /* Light background color */
  border: 4px solid #2980b9; /* Border around the box */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  margin: 20px auto; /* Center the box horizontally */
  max-width: 450px; /* Set a maximum width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.center-text {
  margin: 20px auto;
  max-width: 550px;
}